{
  "presets": ["next/babel"],
  "plugins": [
    ["styled-components", { "ssr": true }],
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@src": "./src",
          "@components": "./src/components",
          "@styles": "./src/styles",
          "@type": "./src/types",
          "@public": "./public"
        }
      }
    ]
  ]
}
